<p id="notice"><%= notice %></p>

<div class="page-header">
	<h1>All Posts</h1>
</div>

  <tbody>
    <% @posts.each do |post| %>
      <h1 class="text-center"><%= link_to post.title, post %></h1>
			<div class="well">
				<%= post.body %>
			</div>
    <% end %>
  </tbody>

<br>

<%= link_to 'New Post', new_post_path %>
